/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

* {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
}

body {
  display: flex;
  background: linear-gradient(to bottom, #134d71, #78a7c6, #f7e4bf);
  height: 100vh;
  width: auto;
  margin: 0;
}

section {
  display: flex;
  padding: .5em;
  margin-top: 1em;
}

/* ENTIRE LOGIN PAGE */
.login-page {
  display: flex;
  background: #ffffff;
  border-radius: .5em;
  height: auto;
  width: 40em;
  padding: 3em;
  margin: 4em;
}

.login-page:hover {
  box-shadow: 0 0 50px 0 #f7e4bf;
  border: .015em solid gray;
}

.login-page-header {
  padding: .5em;
  margin: .5em;
}

h2 {
  color: #134d71;
  font-style: italic;
  margin: 0;
}

.title-on-login {
  color: #134d71;
  padding: .5em;
  margin: 0em 1em 1em 1em;
}

.your-name-plz {
  padding: .5em;
  margin: .5em;
}

.name-field {
  padding: .5em;
}

.name-here {
  border: 0 solid;
  border-bottom: 1px solid;
  outline: none;
  text-align: center;
  font-size: 22px;
}

/* ENTIRE MAIN PAGE */
.main-page-header {
  padding: .25em;
  margin: 1em;
}

.page-title {
  color: #ffffff;
  padding: .5em;
  margin: 1em 1em 0em 1em;
}

.user-greeting {
  padding: .5em;
  margin-bottom: .5em;
}

/* FIRST BOX */
.type-of-message {
  color: #ffffff;
  font-size: 1.25em;
  margin: .25em 1em;
}

.select-message {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  border-radius: .5em;
  height: 6em;
  width: 32em;
  margin-bottom: 3em;
}

.select-one {
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  padding: .25em;
  margin: .75em 1em .25em 1em;
}

.selection {
  flex-direction: row;
  justify-content: space-between;
  font-style: italic;
}

.affirmation {
  width: 25%;
}

.mantra {
  width: 20%;
}

.btn {
  color: #ffffff;
  font-size: .95em;
  background: #134d71;
  border: none;
  border-radius: .35em;
  padding: .25em 2em;
  margin: .25em 1em .75em 1em;
}

.btn:hover {
  background: #f7e4bf;
  color: black;
}

/* SECOND BOX */
.message-box {
  background: #ffffff;
  border-radius: .5em;
  height: 8em;
  width: 45em;
}

.meditate-icon {
  height: 4em;
  width: 4em;
  padding: 1em;
  margin: auto;
}

.statement-goes-here {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.25em;
  padding: 1em;
  margin: auto;
}

.hidden {
  display: none;
}
